<div *ngIf="userRole === 'faculty'; else unauthorizedContent">

    <div *ngIf="alertVisible" class="alert alert-danger" role="alert">
      {{ alertMessage }}
    </div>
  

  
  <c-col xs="24" lg="10">
    <c-card class="mb-4">
      <c-card-header>
        Profile
      </c-card-header>
      <c-card-body>
        <c-chart type="bar" [data]="chartBarData" [options]="chartBarOptions"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
  
  <!-- Pending Students Table -->
  <div *ngIf="allStudentsSubmitted" class="alert alert-success" role="alert">
Name  </div>
  <div *ngIf="pendingStudents.length > 0" class="mt-4">
    <h3>Students Who Haven't Submitted the Survey</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Roll No</th>
          <th>Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of pendingStudents">
          <td>{{ student.rollNo }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.email }}</td>
          <td>
            <a [href]="'https://mail.google.com/mail/?view=cm&fs=1&to=' + student.email + '&su=Survey%20Reminder&body=Please%20complete%20the%20survey.'"
               target="_blank">
              Send Email
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  
  <ng-template #unauthorizedContent>
    <div class="alert alert-danger" role="alert">
      You are not authorized to access this page.
    </div>
  </ng-template>