// @import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}
.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}


